In [1]:
# start analysis here


import os
from urllib.request import urlopen
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import time

# files saved under Data/ActiveTravelCounts
dir = 'dataset/'

counts_df = pd.read_parquet(os.path.join(dir, 'counts_cleaned.parquet'))

In [2]:
counts_df.sample(5)

,Year,UnqID,Zone,datetime,Date,Weather,Time,Day,Round,Dir,Path,Mode,Count,isdry,ispeak,isCarriageway,isPavement,isCycle,isBus,isShared
197936,2022,INNCY109,1,2022-07-12 18:00:00,12/07/2022,Dry,18:00:00,Weekday,A,Eastbound,Pavement,Cargo bikes,0,1,1,0,1,0,0,0
286494,2022,OUTCY160,2,2022-05-24 13:30:00,24/05/2022,Dry,13:30:00,Weekday,A,Southbound,Carriageway,Cargo bikes,0,1,0,1,0,0,0,0
104234,2022,OUTCY049,2,2022-06-13 16:30:00,13/06/2022,Dry,16:30:00,Weekday,A,Northbound,Carriageway,Cargo bikes,0,1,1,1,0,0,0,0
25717,2022,INNCY014,1,2022-04-28 19:15:00,28/04/2022,Dry,19:15:00,Weekday,A,Eastbound,Pavement,Conventional cycles,0,1,0,0,1,0,0,0
153154,2022,INNCY082,1,2022-05-07 06:30:00,07/05/2022,Dry,06:30:00,Weekday,A,Southbound,Pavement,Conventional cycles,0,1,0,0,1,0,0,0

In [3]:
cycles_counts_df = counts_df[counts_df['Mode'] == 'Conventional cycles']

In [38]:
cycles_counts_df.sample(5)

,Year,UnqID,Zone,datetime,Date,Weather,Time,Day,Round,Dir,...,Mode,Count,isdry,ispeak,isCarriageway,isPavement,isCycle,isBus,isShared,islocation
582616,2022,INNCY350,1,2022-07-06 12:00:00,06/07/2022,Dry,12:00:00,Weekday,A,Southbound,...,Conventional cycles,0,1,0,0,1,0,0,0,1
650335,2022,CSHCY020,2,2022-06-07 13:45:00,07/06/2022,Dry,13:45:00,Weekday,A,Westbound,...,Conventional cycles,0,1,0,0,0,1,0,0,1
582091,2022,INNCY350,1,2022-07-06 08:45:00,06/07/2022,Dry,08:45:00,Weekday,A,Southbound,...,Conventional cycles,0,1,1,0,1,0,0,0,1
89461,2022,INNCY046,1,2022-07-12 19:15:00,12/07/2022,Dry,19:15:00,Weekday,A,Northbound,...,Conventional cycles,0,1,0,0,1,0,0,0,1
120929,2022,OUTCY058,2,2022-07-04 14:15:00,04/07/2022,Dry,14:15:00,Weekday,A,Southbound,...,Conventional cycles,0,1,0,0,1,0,0,0,2